/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: #fff;
    padding: 10px;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
  }